.header{
    margin: 0;
    padding: 0px 100px;
    background-color: #1847dd;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
